@charset "UTF-8";
.iPhone {
	font-size: 75%;
}

.Android {
	font-size: 75%;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	background-color: #fef6e4;
}

input[type=checkbox] {
	display: none;
}

.Debug, .DIYID, .NameID, .table-column-none, .table-row-1-none, .table-row-4-none, .table-row-other-none, .FilterBar .FilterBar-none, .search-none {
	display: none;
}

table {
	font-size: 1em;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	border: solid 2px #172c66;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	margin:0 auto;
}

th {
	color: #172c66;
	background: #f3d2c1;
	padding: 1% 1%;
	border: dashed 1px#172c66;
}

tr {
	height: 55px;
}

td {
	padding: 1% 1% 1%;
	border: dashed 1px #172c66;
	height: 5vh;
	line-height: 5vh;
}

label {
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-user-select: none;
	/* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


input:checked+label {
	color: #001858;
	background-color: #f582ae;
}

.Get-Label {
	display: inline-block;
	width: 90%;
	border: 1px solid #f582ae;
	vertical-align: middle;
	min-height: 40px;
}

input:checked+.Get-Label {
	color: #172c66;
	background-color: #f582ae;
}

.Give-Label {
	display: inline-block;
	width: 90%;
	border: 1px solid #8bd3dd;
	vertical-align: middle;
	min-height: 40px;
}

input:checked+.Give-Label {
	color: #172c66;
	background-color: #8bd3dd;
}



/*テーブルの幅*/

#table-1-width, #table-4-width {
	width: 30%;
}

#table-2-width {
	width: 45%
}

#table-3-width {
	width: 25%
}

.ui-dialog .ui-dialog-content {
	text-align: center;
}

input[type="text"] {
	font-size: 16px;
}

input[type=image] {
	width: 50px;
	height: 50px;
}

#title_char, #contents {
	text-align: center;
	color: #172c66;
}

#title_char {
	font-size: 20px;
	font-weight: bold;
}

#contents {
	font-size: 1.2em;
}

a:link, a:visited, a:hover, a:active {
	color: #172c66;
}

input:checked+#Titter-tag-1-label, input:checked+#Titter-tag-2-label, input:checked+#Titter-tag-3-label, input:checked+#Titter-tag-4-label, input:checked+#Titter-tag-5-label, input:checked+#Titter-tag-6-label {
	background-color: #8bd3dd
}

.defaultChar {
	text-align: left;
	margin: auto;
	border: solid 2px #172c66;
	padding: 1%;
	max-width: 1000px;
}

#slider {
	-ms-touch-action: none;
	touch-action: none;
	z-index: inherit;
}

#Header {
	background-color: #8bd3dd;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

#Header a:link, #Header a:visited, #Header a:hover, #Header a:active {
	border: solid 2px #fef6e4;
	box-sizing: border-box;
	border-radius: 0px;
	flex-grow: 1;
	vertical-align: middle;
	color: #172c66;
	font-size: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	align-self: stretch;
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: inherit;
	font-size: 1.5em;
	text-align: center;
	width: 25%;
}

.table-3-column img {
	display: block;
	margin: auto;
}

#HeaderComment, #HeaderComment2 {
	width: 90%;
	margin: auto;
	border: solid 2px #172c66;
	max-width: 1000px;
	word-wrap: break-word;
}

.headerPlanText {
	text-align: left;
	display: inline-block;
	width: 90%;
	margin: 0;
}

#USER_NAME_space {
	width: 50%;
	margin: auto;
	border: solid 2px #172c66;
	max-width: 300px;
	box-sizing: border-box;
}

#input-USER_NAME, #btn-USER_NAME {
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#Btn_GetAndGive_space {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	max-width: 1000px;
	box-sizing: border-box;
}

.GetGive-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:0;
	width: 100%;
	height: 10vw;
	max-height: 100px;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	margin: 1px;
	cursor: pointer;
}

#Analysis{
	background: #2a303d8c;
	outline:0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: right;
	top: 2%;
	right: 2%;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
#Analysis a:link,#Analysis a:visited,#Analysis a:hover,#Analysis a:active {
	color: #fff;
}

.HTG, .Name{
	line-height: 1.5em;
}


/*モーダル*/
.modal-open {
	display: inline-block;
	background-color: #666;
	color: #fff;
	margin: 10px;
}

.modal-open a {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	color: #fff;
}

/*** 以下モーダル用CSS ***/
.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.modal:not(:target) {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
}

.modal:target {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s, visibility 0.5s;
}

.modal .overlay {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.7;
	top: 0;
	left: 0;
}

.modal-wrapper {
	width: 100%;
	max-width: 650px;
	min-width: 300px;
	height: 100%;
	max-height: 70%;
	background-color: #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-contents {
	overflow: auto;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
}

.modal-content {
	margin: 25px;
	word-wrap: break-word;
	text-align: left;
}

.modal-close {
	position: absolute;
	top: 5px;
	right: 10px;
	text-decoration: none;
	font-size: 30px;
}

.mt-2{
	margin-top: 2em;
}

.close{
	font-size: 1.5rem;
	text-align: center;
}

.marker_line{ 
	background:linear-gradient(transparent 80%, #f190b5 0%);
}

.headerImage{
	margin-top: 2em;
	text-align: center;
	margin: auto;
	width: 80%;
	max-width: 600px;
}
.headerImage img{
	border: 2px solid;
	border-color: #172c66;
}