.font-download {
	font-size: 0.6rem;
}

/* 幅が 768px 以上であれば */
@media (min-width:768px) {
	.font-download {
		font-size: 1rem;
	}
}

#Image8{
	display: none;
}

#Image4{
	display: none;
}

#CanvasSpace{
	display: none;
}