@charset "UTF-8";
.iPhone {
	font-size: 62.5%;
}

.Android {
	font-size: 75%;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	background-color: #fef6e4;
}

input[type=checkbox] {
	display: none;
}

.Debug, .DIYID, .NameID, .table-column-none, .table-row-1-none, .table-row-4-none, .table-row-other-none, .FilterBar .FilterBar-none, .search-none {
	display: none;
}

table {
	font-size: 1em;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	border: solid 2px #172c66;
	width: 100%;
	height: 100%;
	max-width: 1000px;
}

th {
	color: #172c66;
	background: #f3d2c1;
	padding: 1% 1%;
	border: dashed 1px#172c66;
}

td {
	padding: 1% 1%;
	border: dashed 1px #172c66;
	height: 5vh;
	line-height: 5vh;
}

label {
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-user-select: none;
	/* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

input:checked+label {
	color: #001858;
	background-color: #f582ae;
}

.Get-Label {
	display: inline-block;
	width: 80%;
	border: 1px solid #f582ae;
	vertical-align: middle;
	/*暫定*/
	pointer-events: none;
}

input:checked+.Get-Label {
	color: #172c66;
	background-color: #f582ae;
}

.Give-Label {
	display: inline-block;
	width: 80%;
	border: 1px solid #8bd3dd;
	vertical-align: middle;

	/*暫定*/
	pointer-events: none;
}

input:checked+.Give-Label {
	color: #172c66;
	background-color: #8bd3dd;
}

/*テーブルの幅*/

#table-1-width, #table-4-width {
	width: 30%;
}

#table-2-width {
	width: 45%
}

#table-3-width {
	width: 25%
}

.ui-dialog .ui-dialog-content {
	text-align: center;
}

input[type="text"] {
	font-size: 16px;
}

input[type=image] {
	width: 50px;
	height: 50px;
}

#title_char, #contents {
	text-align: center;
	color: #172c66;
}

#title_char {
	font-size: 20px;
	font-weight: bold;
}

#contents {
	font-size: 1.2em;
}

a:link, a:visited, a:hover, a:active {
	color: #172c66;
}

input:checked+#Titter-tag-1-label, input:checked+#Titter-tag-2-label, input:checked+#Titter-tag-3-label, input:checked+#Titter-tag-4-label, input:checked+#Titter-tag-5-label, input:checked+#Titter-tag-6-label {
	background-color: #8bd3dd
}

.defaultChar {
	text-align: left;
	margin: auto;
	border: solid 2px #172c66;
	padding: 1%;
	max-width: 1000px;
}

#slider {
	-ms-touch-action: none;
	touch-action: none;
	z-index: inherit;
}
