.font-download {
	font-size: 0.6rem;
}

/* 幅が 768px 以上であれば */
@media (min-width:768px) {
	.font-download {
		font-size: 1rem;
	}
}

.TwitterColor{
	background-color: #00ACEE;
	border-color: #00ACEE;
}

.TwitterColor:hover,.TwitterColor:active{
	background-color: #019AD1 !important;;
	border-color: #019AD1 !important;;
}